<html>
  <head>
    <meta charset='utf-8' />
    <title>App</title>
  </head>
  <body>
  </body>
  <script
    src='https://cdn.jsdelivr.net/npm/keycloak-js@24.0.4/dist/keycloak.min.js'
  ></script>
  <script src='/assets/js/auth.js'>
  </script>

</html>