<html>
  <head>
    <meta charset='utf-8' />
    <title>Bookworm Admin Console</title>
    <link rel='apple-touch-icon' href='/assets/img/bookworm-icon.png' />
    <link rel='icon' type='image/svg' href='/assets/img/bookworm-icon.svg' />
  </head>
  <body>
  </body>
</html>